# See http://help.github.com/ignore-files/ for more about ignoring files.
*.swp
src/confidential.json
__pycache__/

# resources and images
src/assets/Blue Logo.jpg

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
/src/app/materialize-css/

# System Files
.DS_Store
Thumbs.db

#credentials for aws
aws/infra/credentials.txt

#generated confidential file
aws/infra/confidential.json
