<div id="create">
  <div class="row">
    <h3>Create Project</h3>

    <form name="form_project" (submit)="onSubmit()">
      <div class="row">
        <div class="input-field col s6">
          <input id="project_name" type="text" class="validate" name="input_project_name" [(ngModel)]="projectName" required>
          <label for="project_name">Project Name</label>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="project_owner" type="email" class="validate" name="input_project_owner" [(ngModel)]="projectOwner" required>
          <label for="project_owner">Project Owner</label>
          <span class="helper-text" data-error="Incorrect format" data-success="">Email address</span>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="project_description" class="materialize-textarea" name="textarea_project_description" [(ngModel)]="projectDescription" required></textarea>
          <label for="project_description">Project Description</label>
        </div>
      </div>

      <div class="col s3">
        <button type="submit" class="btn btn-small">Create Project</button>
      </div>
    </form>
  </div>
</div>
