<div id="create">
  <div class="row">
    <h3>Create Project</h3>

    <div class="input-field col s6">
      <input id="project_name" type="text" class="validate">
      <label for="project_name">Project Name</label>
    </div>

    <div class="input-field col s6">
      <i class="material-icons prefix">account_circle</i>
      <input id="project_owner" type="email" class="validate">
      <label for="project_owner">Project Owner</label>
      <span class="helper-text" data-error="wrong" data-success="right">Email address</span>
    </div>
  </div>
</div>
