<div id="create">
  <div class="row">
    <h3>Create Project</h3>

    <form name="form_project" (submit)="onSubmit()">
      <div class="row">
        <div class="input-field col s12">
          <input id="project_name" type="text" class="validate" name="input_project_name" [(ngModel)]="projectName" required>
          <label for="project_name">Project Name</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <textarea id="project_description" class="materialize-textarea" name="textarea_project_description" [(ngModel)]="projectDescription" required></textarea>
          <label for="project_description">Project Description</label>
        </div>
      </div>

      <div class = "row">
        <div class="input-field col s12">
          <ul class="collapsible">
            <li>
              <div class="collapsible-header"><i class="material-icons">people</i>Select Project Owner</div>
              <div class="collapsible-body">
                <ul class="collection">                  
                  <li *ngFor="let owner of owners; let i = index" 
                    class="collection-item"
                    [class.active]="selectedIndex === i"
                    (click)="setIndex(i, owner.email)">
                    {{ owner.email }}
                </li>
              </ul>                
              </div>
            </li>
          </ul>    
        </div>
      </div>

      <div class="col s3">
        <button type="submit" class="btn btn-small">Create Project</button>
      </div>
    </form>
</div>
