<div class="row">
  <form class="col s12" (ngSubmit)="onSubmit(f)" #f="ngForm">    

    <div class="row">
      <div class="input-field col s12">
        <input id="name" type="text" name="name" ngModel required [(ngModel)]="ec2Name">
        <label for="name">EC2 Instance Name</label>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field col s12">
        <label for="keyName">Key Name</label>
        <input id="keyName" type="text" name="keyName" [(ngModel)]="ec2KeyPair" required>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select #instanceTypeSelect name="instanceType" ngModel required>          
          <option             
            *ngFor="let instanceType of instanceTypes" 
            [value]="instanceType"
          >
            {{instanceType}}
          </option>          
        </select>
        <label>Instance Type</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select #machineImageSelect name="machineImage" ngModel required>
          <option 
            *ngFor="let machineImage of machineImages"
            [value]="machineImage"
          >
            {{machineImage}}
          </option>
        </select>
        <label>Machine Image</label>
      </div>
    </div>  
    
    <div class="row">
      <button 
        class="btn waves-effect waves-light" 
        type="submit"  
      >
        Submit
        <i class="material-icons right">send</i>
      </button>
    </div>

  </form>
</div>
