<div class="row">
  <form class="col s12" [formGroup]="createForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="input-field col s12">
        <label for="name">Logical Id</label>
        <input 
          id="name"
          type="text"
          formControlName="logicalId">
        <span class="helper-text">This will be the instance's name</span>
        <span
          style="color: red;" 
          *ngIf="!createForm.get('logicalId').valid && createForm.get('logicalId').touched"
          class="helper-text">
          <strong>Danger!</strong> Please enter a valid instance name!
        </span>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <select #instanceTypeSelect formControlName="instanceType">                    
          <option *ngFor="let instanceType of instanceTypes" [value]="instanceType">
            {{ instanceType }}
          </option>          
        </select>
        <label>Instance Type</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <select #machineImageSelect formControlName="machineImage">          
          <option *ngFor="let machineImage of machineImages" [value]="machineImage">            
            {{ machineImage }}
          </option>          
        </select>
        <label>Machine Image</label>
      </div>
    </div>     
    <div class="row">
      <div class="input-field col s12">
        <select #keyPairActionSelect (change)="createNewKeyPair = !createNewKeyPair">
          <option [selected]="createNewKeyPair === false">Use an existing key pair</option>
          <option [selected]="createNewKeyPair === true">Create a new key pair</option>
        </select>
        <label>SSH Key Pair</label>        
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <label 
          for="name"
          class="active">Key Name</label>
        <input 
          id="name"
          type="text"
          formControlName="keyName"> 
        <span
          *ngIf="createNewKeyPair === true"
          style="color: rgba(255, 166, 0, 0.822);"           
          class="helper-text">
          Name of key pair to create
        </span>
        <span
          *ngIf="createNewKeyPair === false"
          style="color: orange;"           
          class="helper-text">
          <strong>Warning!</strong> Make sure you have the private key associated with this key pair! You will need it to SSH into your instance.
        </span>
      </div>
    </div>    
    <div class="row">
      <div class="file-field input-field">
        <div class="btn orange">
          <span>Browse</span>
          <input
            #fileInput
            (change)="onFileChange($event)"
            type="file">
        </div>
        <div class="file-path-wrapper">
          <input
            #fileName            
            class="file-path validate" 
            type="text">
          <span 
            class="helper-text">
            (Optional) Select a user data script to run after EC2 instance starts
          </span>
        </div>
      </div>      
    </div>
    <div class="row">
      <button
        [disabled] = "!createForm.valid"
        class="indigo accent-2 btn"
        type="submit">Submit</button>      
    </div>
  </form>
</div>
