<div class="row">
  <form class="col s12" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
      <div class="input-field col s12">
        <input id="name" type="text" name="name" ngModel required [(ngModel)]="ec2Name">
        <label for="name">EC2 Instance Name</label>
      </div>
    </div>
    
    <div class="row">
      <div class="input-field col s12">
        <label for="keyName">Key Name</label>
        <input id="keyName" type="text" name="keyName" [(ngModel)]="ec2KeyPair" required>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select #instanceTypeSelect name="instanceType" ngModel required>          
          <option value="" disabled>Choose an instance type</option>
          <option *ngFor="let instanceType of instanceTypes" [ngValue]="instanceType">
            {{ instanceType }}
          </option>          
        </select>
        <label>Instance Type</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select #machineImageSelect name="machineImage" ngModel required>
          <option value="" disabled>Choose a machine image</option>
          <option *ngFor="let machineImage of machineImages" [ngValue]="machineImage">            
            {{ machineImage }}
          </option>          
        </select>
        <label>Machine Image</label>
      </div>
    </div>  
    
    <div class="row">
      <button 
        [disabled]="isLoading"
        class="indigo accent-2 btn-small"
        type="submit"  
      >
        Submit
        <div *ngIf="isLoading" class="preloader-wrapper small active" style="width: 15px; height: 15px;">
          <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>    
      </button> 
    </div>

  </form>
</div>
