<ul id="user-dropdown" class="dropdown-content">
  <li><span>Change Password</span></li>
  <li class="divider"></li>
  <li><span>Logout</span></li>
</ul>


<nav class="blue">
  <div class="nav-wrapper">
    <a class="brand-logo center" routerLink="/" routerLinkActive="">AWS Server Management Tool</a>
    <ul class="right hide-on-med-and-down">
      <!--<li><span>Link</span></li>-->
      <li><span class="dropdown-trigger" data-target="user-dropdown">User<i class="material-icons right">arrow_drop_down</i></span></li>
    </ul>
  </div>
</nav>


<div class="container">
  <router-outlet></router-outlet>

  <div id="test">
    <div class="row">
      <h3>Testing Area</h3>

      <button class="waves-light btn-small" (click)="handleGetInstances($event)" type="button">Get Instances</button>
      <button class="waves-light btn-small" (click)="handlePostInstances($event)" type="button">Post Instances</button>
    </div>
  </div>
</div>


<footer class="page-footer blue">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>

      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3">Link 1</a></li>
          <li><a class="grey-text text-lighten-3">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="footer-copyright">
    <div class="container">
      © 2019 Copyright ???
      <a class="grey-text text-lighten-4 right">More Links</a>
    </div>
  </div>
</footer>
