<div id="detail">
  <ul id="version-dropdown" class="dropdown-content">
    <li><span>1.0.0</span></li>
  </ul>

  <div class="row">
    <h3>Summary</h3>
  </div>

  <div class="row">
    <h3>Version Control</h3>
    <div class="col m2">
      <span class="dropdown-trigger" data-target="version-dropdown">Select Version<i class="material-icons right">arrow_drop_down</i></span>
    </div>
  </div>

  <div class="row">
    <ul class="collection with-header">
      <li class="collection-header">
        <h4>Resources</h4>
      </li>
      <li class="collection-item">
        <div>
          Resource 1
          <a class="secondary-content"><i class="material-icons red-text">delete</i></a>
          <a class="secondary-content"><i class="material-icons orange-text">stop</i></a>
          <a class="secondary-content"><i class="material-icons grey-text">edit</i></a>
          <span class="new badge green" data-badge-caption="">Enabled</span>
        </div>
      </li>
      <li class="collection-item">
        <div>
          Resource 2
          <a class="secondary-content"><i class="material-icons red-text">delete</i></a>
          <a class="secondary-content"><i class="material-icons green-text">play_arrow</i></a>
          <a class="secondary-content"><i class="material-icons grey-text">edit</i></a>
          <span class="new badge orange" data-badge-caption="">Disabled</span>
        </div>
      </li>
      <li class="collection-item">
        <div>
          Add
          <a class="secondary-content"><i class="material-icons">add</i></a>
        </div>
      </li>
    </ul>

    <div class="row">
      <h3>Databases</h3>
    </div>
  </div>
</div>
