<div id="detail">
  <ul id="version-dropdown" class="dropdown-content">
    <li><span>1.0.0</span></li>
  </ul>

  <div class="row">
    <h3>Summary</h3>
  </div>

  <div class="row">
    <ul class="collection with-header">
      <li class="collection-header">
        <h4>Resources</h4>
      </li>
      <li class="collection-item">
        <div>
          Resource 1
          <a class="secondary-content"><i class="material-icons red-text">delete</i></a>
          <a class="secondary-content"><i class="material-icons orange-text">stop</i></a>
          <a class="secondary-content"><i class="material-icons grey-text">edit</i></a>
          <span class="new badge green" data-badge-caption="">Enabled</span>
        </div>
      </li>
      <li class="collection-item">
        <button data-target="createEC2Instance" class="btn modal-trigger">Add EC2</button>        
      </li>
    </ul>

      <!-- Modal Structure -->
    <div id="createEC2Instance" class="modal" #modalEC2Input>
      <div class="modal-content">
        <h4>Create EC2 instance</h4>
        <app-ec2></app-ec2>
      </div>
      <div class="modal-footer">
        <a class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>
  </div>
</div>
