<div id="home">
  <div class="row">
    <h3>Search</h3>

    <form action="#!" class="col s12">
      <div class="row">
        <div class="col s9">
          <input type="text" placeholder="Project name">
        </div>
        <div class="col s3">
          <input type="submit" value="Search" class="waves-effect waves-light btn"/>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <!-- class="waves-effect" permanently alters color, so please DO NOT USE -->
    <a class="waves-light btn-small modal-trigger" href="#advanced-search-modal">Advanced Search</a>

    <div id="advanced-search-modal" class="modal">
      <div class="modal-content">
        <h4>Advanced Search</h4>

        <div class="row">
          <form class="col s12">
            <div class="row modal-form-row">
              <div class="input-field col s12">
                <input id="field_name" type="text" class="validate">
                <label for="field_name">Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="field_team" type="text" class="validate">
                <label for="field_team">Team</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="field_owner" type="text" class="validate">
                <label for="field_owner">Owner</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
      </div>
    </div>
  </div>

  <div id="actions" class="row">
    <h3>Actions</h3>
    <div class="col s3">
      <a class="waves-effect waves-light btn" routerLink="/page1" routerLinkActive="">Create Project</a>
    </div>
    <div class="col s3 offset-s1">
      <a class="waves-effect waves-light btn" routerLink="/page2" routerLinkActive="">Browse Projects</a>
    </div>
  </div>
</div>
