<div id="home">
  <div class="row">
    <h3>Search</h3>

    <form action="#!" class="col s12">
      <div class="row">
        <div class="col s9">
          <input type="text" placeholder="Project name">
        </div>
        <div class="col s3">
          <input type="submit" value="Search" class="waves-effect waves-light btn"/>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <!-- class="waves-effect" permanently alters color, so please DO NOT USE -->
    <div class="col s3">
      <a class="waves-light btn-small modal-trigger" href="#advanced-search-modal">Advanced Search</a>
    </div>
    <div class="col s3">
      <a class="waves-light btn-small" routerLink="/create" routerLinkActive="">Create Project</a>
    </div>

    <div id="advanced-search-modal" class="modal">
      <div class="modal-content">
        <h4>Advanced Search</h4>

        <div class="row">
          <form class="col s12">
            <div class="row modal-form-row">
              <div class="input-field col s12">
                <input id="field_name" type="text" class="validate">
                <label for="field_name">Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="field_team" type="text" class="validate">
                <label for="field_team">Team</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="field_owner" type="text" class="validate">
                <label for="field_owner">Owner</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
      </div>
    </div>
  </div>

  <div class="row">
    <h3>Projects</h3>

    <div class="col s12 m12" *ngFor="let project of projects">
      <div class="card darken-1">
        <div class="card-content">
          <span class="card-title">{{project.name}}</span>
          <p>{{project.description}}</p>
        </div>
        <div class="card-action">
          <a>{{project.owner}}</a>
          <a>{{project.version}}</a>
          <a class="secondary-content" routerLink="/browse/1" routerLinkActive=""><i class="material-icons">send</i></a>
        </div>
      </div>
    </div>
  </div>
</div>
