<div id="home">
  <div class="row">
    <h3>Search</h3>

    <form action="#!" class="col s12">
      <div class="row">
        <div class="col s9">
          <input type="text" placeholder="Project name">
        </div>
        <div class="col s3">
          <a class="indigo accent-2 btn-floating"><i class="material-icons">search</i></a>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <!-- class="waves-effect" permanently alters color, so please DO NOT USE -->
    <div class="col s3">
      <a class="waves-light btn-small modal-trigger" (click)="toggleModal()" href="#advanced-search-modal">Advanced Search</a>
    </div>

    <div id="advanced-search-modal" class="modal">
      <div class="modal-content">
        <h4>Advanced Search</h4>

        <div class="row">
          <form class="col s12">
            <div class="row modal-form-row">
              <div class="input-field col s12">
                <input id="field_name" type="text" class="validate">
                <label for="field_name">Name</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="field_team" type="text" class="validate">
                <label for="field_team">Team</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="field_owner" type="text" class="validate">
                <label for="field_owner">Owner</label>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Submit</a>
      </div>
    </div>
  </div>

  <div class="row">
    <h3 class="left left-align" style="margin:.5rem 0;">Projects</h3>
    <a class="indigo accent-2 right right-align btn-large btn-floating" routerLink="/create" routerLinkActive=""><i class="material-icons">add</i></a>
    <div class="col s12 m12" style="margin:.5rem 0;" *ngFor="let project of projects">
      <div class="card hoverable darken-1" style="cursor:pointer;" routerLink="/browse/1" routerLinkActive="">
        <div class="card-content">
          <span class="card-title left left-align" style="font-weight:500;">{{project.Name["S"]}} -- {{project.Version["S"]}}</span>
          <span class="card-title right right-align" style="font-size:1.3em;"><i>{{project.Owner["S"]}}</i></span>
          <p style="clear:both; font-size:.9em;">{{project.Description["S"]}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
